<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestCRM">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="TestUser">
		<classes>
			<class name="com.test.TestUserManagement" />
			<class name="com.test.TestLogin" />
			<class name="com.test.TestAssignRole" />
			<class name="com.test.TestRoleManagement" />
			<class name="com.test.TestSearchRole" />
			
		</classes>
	</test> <!-- TestUser -->
</suite> <!-- TestCRM -->
